<!-- templates/about.html -->

{% extends "_base.html" %}

{% block title %} About {% endblock title %}

{% block content %}
    <h1 style="margin-top: 7%;">About Page</h1>

    {% if object_list %}
        {% for staff in object_list %}
            <div>
                <h4>Nom: {{ staff.firstname }} {{ staff.lastname }}</h4>
                <img src="{{ staff.picture }}" alt="{{ staff.firstname }}">
                <p>{{ staff.staff_role.name }}</p>
                <a href="mailto: {{ staff.mail }}">contact</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
