/* static/styles/base.css */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: red;
    margin-top: 7%;
}

.index {
    height: 300px;
    width: auto;
}

.selector-for-some-widget {
    box-sizing: content-box;
}